* {
  font-family: "Andale Mono";
  box-sizing: border-box;
}

h1 {
  margin: 10px;
}

h2{
  margin: 10px;
}

.worthsmith1 {
  display: block;
  float: center;
  text-align: center;
  border:2px black solid; 
  font-size:42px; 
  border-radius: 15px;
  position: fixed;
}

h3{
  margin:10px
}

body {
  background-color: white;
}

p {
  color: black;
  margin: 15px;
}

nav { 
  text-align: center;
}

a:visited {
  color: blue;
  background-color: transparent;
}

a:hover {
  color: purple;
  background-color: transparent;
}

a:active {
  color: blue;
  background-color: transparent;
}

.pages {
  position: static;
  top: 500px;
}

.pages a:hover {
  background: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

.pages a {
  background: white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  color: black;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}