* {
  font-family: "Andale Mono";
  box-sizing: border-box;
}

header {
  position: fixed;
  text-align: center;
  background: white;
  color: black;
  width: 100%;
}

h1 {
  margin: 10px;
}

h2{
  margin: 10px;
}

h3{
  margin:10px
}

body {
  background-color: white;
}

p {
  color: black;
  margin: 15px;
}

nav { 
  text-align: center;
}

a:visited {
  color: blue;
  background-color: transparent;
}

a:hover {
  color: purple;
  background-color: transparent;
}

a:active {
  color: blue;
  background-color: transparent;
}

.pages {
  position: static;
  top: 500px;
}

.pages a:hover {
  background: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 10px 10px;
  padding: 5px;
  text-decoration: none;
}

.pages a {
  background: white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  color: black;
  display: inline-block;
  margin-top: 10px 10px;
  padding: 5px;
  text-decoration: none;
}

.linkbox {
  position: static;
  top: 500px;
}

.linkbox a:hover {
  background: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 10px 10px;
  padding: 5px;
  text-decoration: none;
}

.linkbox a {
  background: white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  color: black;
  display: inline-block;
  margin-top: 10px 10px;
  padding: 5px;
  text-decoration: none;
}

#navigation {
  margin-top: 60px;
}